# Database Configuration
DB_HOST=localhost
DB_PORT=5054
DB_NAME=shelter
DB_USER=postgres
DB_PASSWORD=webwiz

# API Configuration
FRONTEND_URL=http://localhost:5173
API_PORT=4000
ENVIRONMENT=development

# Admin
ADMIN_SECRET=your_admin_secret_key
